<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" img="https://www.google.com/imgres?q=logo%20h%E1%BB%8Dc%20vi%E1%BB%87n%20n%C3%B4ng%20nghi%E1%BB%87p&imgurl=https%3A%2F%2Fdoanthanhnien.vnua.edu.vn%2Fwp-content%2Fuploads%2F2021%2F08%2F50466logo-vnua-439x285.jpg&imgrefurl=https%3A%2F%2Fdoanthanhnien.vnua.edu.vn%2Fcategory%2Fhoc-bong-khen-thuong%2F&docid=3HC8r0Z1wpflPM&tbnid=CdGXXNUTfVM3zM&vet=12ahUKEwilzq3oufqMAxVOsFYBHa4dFVkQM3oECBoQAA..i&w=439&h=285&hcb=2&ved=2ahUKEwilzq3oufqMAxVOsFYBHa4dFVkQM3oECBoQAA" href="#">quan ly sinh vien</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">5s2eY+iR3tRdbcI
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          dropdown
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>