<!DOCTYPE html>
<html lang="vi" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-graduation'></i>
                <div class="logo_name">UniManage</div>
            </div>
        </div>
        <ul class="nav_list">
            <li class="menu-item" data-page="trangchu.html">
                <a href="#">
                    <i class='bx bxs-home'></i>
                    <span class="links_name">Trang chủ</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li class="menu-item" data-page="khoa.html">
                <a href="#">
                    <i class='bx bxs-bank'></i>
                    <span class="links_name">Khoa</span>
                </a>
                <span class="tooltip">Faculty</span>
            </li>
            <li class="menu-item" data-page="lop.html">
                <a href="#">
                    <i class='bx bx-table'></i>
                    <span class="links_name">Lớp</span>
                </a>
                <span class="tooltip">Class</span>
            </li>
            <li class="menu-item" data-page="sinhvien.html">
                <a href="#">
                    <i class='bx bxs-user'></i>
                    <span class="links_name">Sinh viên</span>
                </a>
                <span class="tooltip">Student</span>
            </li>
            <li class="menu-item" data-page="quanlymonhoc.html">
                <a href="#">
                    <i class='bx bxs-folder-open'></i>
                    <span class="links_name">Quản lý môn học</span>
                </a>
                <span class="tooltip">Courseware</span>
            </li>
            <li class="menu-item" data-page="quanlydiem.html">
                <a href="#">
                    <i class='bx bxs-folder-open'></i>
                    <span class="links_name">Quản lý điểm</span>
                </a>
                <span class="tooltip">Grading</span>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="../img/user.jpg" alt="User">
                    <div class="name_job">
                        <div class="name">ADMIN</div>
                        <div class="job">Administrator</div>
                    </div>
                </div>
                <li>
                    <i class='bx bx-log-out' id="log_out"></i>
                </li>
            </div>
        </div>
    </div>
    <div id="content-area" class="content-area">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>