<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý sinh viên</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="/img/vnua-1.png" alt="Logo Học Viện Nông Nghiệp Việt Nam">
            
        </div>
        <form id="login-form" method="POST" action="/login">
            <div class="input-group">
                <label for="studentId">Mã sinh viên</label>
                <input type="text" id="studentId" name="studentId" required>
            </div>
            <div class="input-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="remember-me">
                <label for="remember">
                    <input type="checkbox" id="remember" name="remember">
                    <span class="remember-text">Lưu tài khoản</span>
                </label>
            </div>
            <button type="submit">ĐĂNG NHẬP</button>
        </form>
        {{#if error}}
    <p style="color: red; text-align: center; margin-top: 10px;">{{error}}</p>
        {{/if}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>